
@{
    ViewBag.Title = "GetEmployeeInfo2";
}

<h2>GetEmployeeInfo2</h2>

<span>Emp Id:</span>@ViewBag.Employee.EmpId<br />
<span>Emp Name:</span>@ViewBag.Employee.EmpName<br />
<span>Emp Salary:</span>@ViewBag.Employee.EmpSalary<br />